__pycache__/
.pytest_cache/
.ipynb_checkpoints/
.venv/
env/
venv/

*.pyc
*.pyo
*.pyd

artifacts/
model/artifacts/
model/data/dataset.csv
model/data/train.csv
model/data/test.csv
model/data/clean_train.csv
model/data/clean_test.csv

server/app
server/app.exe
bin/

.DS_Store
Thumbs.db

*.txt
